<script type='text/javascript'>
    $(function() {
        Dashing.widget_base_dimensions = [400, 400]
        Dashing.numColumns = 3
    });
</script>
<% content_for(:title) { "Build Status" } %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-cool_syscon_team-mobile-nomis-api" data-view="CircleCi" data-title="Elite2 API"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-new-nomis-ui-master" data-view="CircleCi" data-title="New Nomis"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-keyworker-ui-master" data-view="CircleCi" data-title="Omic UI"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-keyworker-service-master" data-view="CircleCi" data-title="Keyworker Api"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-prisonstaffhub-master" data-view="CircleCi" data-title="Prison Staff Hub"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-nomis-oauth2-server-master" data-view="CircleCi" data-title="Auth Server"></div>
    </li>
    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-nomis-api-dev" data-view="CircleCi" data-title="Old Nomis API"></div>
    </li>
    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-noms-digital-studio-new-nomis-api-master" data-view="CircleCi" data-title="Custody API"></div>
    </li>
    <li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-categorisation-tool-master" data-view="CircleCi" data-title="Categorisation Tool"></div>
    </li>
    <li data-row="4" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-offender-risk-profiler-master" data-view="CircleCi" data-title="Risk Profiler"></div>
    </li>
  </ul>
</div>