<script type='text/javascript'>
    $(function() {
        Dashing.widget_base_dimensions = [350, 350]
        Dashing.numColumns = 6
    });
</script>
<% content_for(:title) { "Build Status" } %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-elite2-api-master" data-view="CircleCi" data-title="Elite2 API"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-hmpps-auth-main" data-view="CircleCi" data-title="Auth Server"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-keyworker-service-main" data-view="CircleCi" data-title="Keyworker Api"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-offender-risk-profiler-main" data-view="CircleCi" data-title="Risk Profiler"></div>
    </li>
    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-new-nomis-ui-main" data-view="CircleCi" data-title="DPS Core"></div>
    </li>
    <li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-check-my-diary-master" data-view="CircleCi" data-title="Check My Diary"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-case-notes-to-probation-main" data-view="CircleCi" data-title="Case Notes to Probation"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-keyworker-ui-main" data-view="CircleCi" data-title="Key-worker UI"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-prisonstaffhub-main" data-view="CircleCi" data-title="Whereabouts"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-categorisation-tool-master" data-view="CircleCi" data-title="Categorisation Tool"></div>
    </li>
    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-nomis-api-dev" data-view="CircleCi" data-title="Old Nomis API"></div>
    </li>
    <li data-row="2" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-token-verification-api-main" data-view="CircleCi" data-title="Token Verification api"></div>
    </li>


    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-custody-api-main" data-view="CircleCi" data-title="Custody API"></div>
    </li>
    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-probation-teams-main" data-view="CircleCi" data-title="Probation Teams"></div>
    </li>
    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-whereabouts-api-main" data-view="CircleCi" data-title="Whereabouts Api"></div>
    </li>
    <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-prison-estate-main" data-view="CircleCi" data-title="Prison Estate"></div>
    </li>
    <li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-offender-case-notes-main" data-view="CircleCi" data-title="Offender Case Notes"></div>
    </li>
    <li data-row="3" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-pathfinder-api-master" data-view="CircleCi" data-title="Pathfinder API"></div>
    </li>


    <li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-offender-assessments-api-master" data-view="CircleCi" data-title="Offender Assessment API"></div>
    </li>
    <li data-row="4" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-dps-data-compliance-main" data-view="CircleCi" data-title="Data Compliance"></div>
    </li>
    <li data-row="4" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-prison-to-probation-update-main" data-view="CircleCi" data-title="Prison to Probation Update"></div>
    </li>
    <li data-row="4" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-use-of-force-main" data-view="CircleCi" data-title="Use of Force"></div>
    </li>
    <li data-row="4" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-manage-hmpps-auth-accounts-main" data-view="CircleCi" data-title="HMPPS User Manager"></div>
    </li>

    <li data-row="5" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-pathfinder-master" data-view="CircleCi" data-title="Pathfinder"></div>
    </li>
    <li data-row="5" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-offender-events-main" data-view="CircleCi" data-title="Offender Events"></div>
    </li>
    <li data-row="5" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-community-api-master" data-view="CircleCi" data-title="Community API"></div>
    </li>
    <li data-row="5" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-prison-to-nhs-update-main" data-view="CircleCi" data-title="Prison to NHS"></div>
    </li>
    <li data-row="5" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-offender-search-master" data-view="CircleCi" data-title="Offender Search"></div>
    </li>
    <li data-row="5" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-licences-main" data-view="CircleCi" data-title="Licences"></div>
    </li>
  </ul>
</div>
