<script type='text/javascript'>
    $(function() {
        Dashing.widget_base_dimensions = [350, 350]
        Dashing.numColumns = 10
    });
</script>
<% content_for(:title) { "Build Status" } %>
<div class="gridster">
  <ul>
    <% Config::PROJECTS.each_with_index do |data, index| %>
      <li data-row="<%= (index / 10) + 1 %>" data-col="<%= (index % 10) + 1 %>" data-sizex="1" data-sizey="1">
        <div data-id="circle-ci-ministryofjustice-<%=data[:repo] || data[:name]%>-main" data-view="CircleCi" data-title="<%=data[:title]%>"></div>
      </li>
    <% end %>
  </ul>
</div>
