<script type='text/javascript'>
    $(function() {
        Dashing.widget_base_dimensions = [350, 350]
        Dashing.numColumns = 6
    });
</script>
<% content_for(:title) { "Build Status" } %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-prison-api-main" data-view="CircleCi" data-title="Prison API"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-hmpps-auth-main" data-view="CircleCi" data-title="Auth Server"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-keyworker-service-main" data-view="CircleCi" data-title="Keyworker Api"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-offender-risk-profiler-main" data-view="CircleCi" data-title="Risk Profiler"></div>
    </li>
    <li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-check-my-diary-master" data-view="CircleCi" data-title="Check My Diary"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-case-notes-to-probation-main" data-view="CircleCi" data-title="Case Notes to Probation"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-manage-key-workers-main" data-view="CircleCi" data-title="Key-worker UI"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-prisonstaffhub-main" data-view="CircleCi" data-title="DPS Core"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-offender-categorisation-main" data-view="CircleCi" data-title="Offender Categorisation"></div>
    </li>
    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-probation-offender-search-indexer-main" data-view="CircleCi" data-title="Probation Search Indexer"></div>
    </li>
    <li data-row="2" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-token-verification-api-main" data-view="CircleCi" data-title="Token Verification api"></div>
    </li>
    <li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-hmpps-restricted-patients-main" data-view="CircleCi" data-title="HMPPS Restricted Patients"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-licences-main" data-view="CircleCi" data-title="Licences"></div>
    </li>
    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-probation-teams-main" data-view="CircleCi" data-title="Probation Teams"></div>
    </li>
    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-whereabouts-api-main" data-view="CircleCi" data-title="Whereabouts Api"></div>
    </li>
    <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-offender-case-notes-main" data-view="CircleCi" data-title="Offender Case Notes"></div>
    </li>
    <li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-pathfinder-api-main" data-view="CircleCi" data-title="Pathfinder API"></div>
    </li>
    <li data-row="3" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-manage-soc-cases-api-main" data-view="CircleCi" data-title="Manage SOC Cases API"></div>
    </li>
    <li data-row="3" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-hmpps-restricted-patients-api-main" data-view="CircleCi" data-title="HMPPS Restricted Patients API"></div>
    </li>


    <li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-offender-assessments-api-master" data-view="CircleCi" data-title="Offender Assessment API"></div>
    </li>
    <li data-row="4" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-dps-data-compliance-main" data-view="CircleCi" data-title="Data Compliance"></div>
    </li>
    <li data-row="4" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-prison-to-probation-update-main" data-view="CircleCi" data-title="Prison to Probation Update"></div>
    </li>
    <li data-row="4" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-manage-soc-cases-main" data-view="CircleCi" data-title="Manage SOC Cases"></div>
    </li>
    <li data-row="4" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-use-of-force-main" data-view="CircleCi" data-title="Use of Force"></div>
    </li>
    <li data-row="4" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-manage-hmpps-auth-accounts-main" data-view="CircleCi" data-title="HMPPS User Manager"></div>
    </li>

    <li data-row="5" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-pathfinder-main" data-view="CircleCi" data-title="Pathfinder"></div>
    </li>
    <li data-row="5" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-prison-offender-events-main" data-view="CircleCi" data-title="Prison Offender Events"></div>
    </li>
    <li data-row="5" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-community-api-master" data-view="CircleCi" data-title="Community API"></div>
    </li>
    <li data-row="5" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-probation-offender-search-main" data-view="CircleCi" data-title="Probation Offender Search"></div>
    </li>
    <li data-row="5" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-probation-offender-events-main" data-view="CircleCi" data-title="Probation Offender Events"></div>
    </li>
    <li data-row="5" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-hmpps-welcome-people-into-prison-api-main" data-view="CircleCi" data-title="HMPPS Welcome to Prison API"></div>
    </li>
    <li data-row="5" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-hmpps-welcome-people-into-prison-ui-main" data-view="CircleCi" data-title="HMPPS Welcome to Prison UI"></div>
    </li>

    <li data-row="6" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-hmpps-pin-phone-monitor-main" data-view="CircleCi" data-title="HMPPS Pin Phone Monitor"></div>
    </li>
    <li data-row="6" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-hmpps-pin-phone-monitor-api-main" data-view="CircleCi" data-title="HMPPS Pin Phone Monitor API"></div>
    </li>
    <li data-row="6" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-hmpps-template-kotlin-main" data-view="CircleCi" data-title="Template kotlin project"></div>
    </li>
    <li data-row="6" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-prison-services-feedback-and-support-main" data-view="CircleCi" data-title="Prison Services Feedback and Support"></div>
    </li>
    <li data-row="6" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-manage-intelligence-main" data-view="CircleCi" data-title="Manage Intelligence"></div>
    </li>
    <li data-row="6" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-manage-intelligence-api-main" data-view="CircleCi" data-title="Manage Intelligence API"></div>
    </li>

    <li data-row="7" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-hmpps-book-video-link-main" data-view="CircleCi" data-title="Book a video link"></div>
    </li>

    <li data-row="7" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-court-register-main" data-view="CircleCi" data-title="Court Register"></div>
    </li>

    <li data-row="7" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-prison-register-main" data-view="CircleCi" data-title="Prison Register"></div>
    </li>

    <li data-row="7" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-hmpps-audit-api-main" data-view="CircleCi" data-title="HMPPS Audit API"></div>
    </li>

    <li data-row="7" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-hmpps-registers-main" data-view="CircleCi" data-title="HMPPS Registers UI"></div>
    </li>

    <li data-row="7" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-hmpps-registers-to-delius-update-main" data-view="CircleCi" data-title="HMPPS Registers to Delius Update"></div>
    </li>

    <li data-row="7" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-hmpps-registers-to-nomis-update-main" data-view="CircleCi" data-title="HMPPS Registers to Nomis Update"></div>
    </li>


  </ul>
</div>
