<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [300, 150]
  Dashing.numColumns = 12
});
</script>

<% content_for :title do %>Health<% end %>
<div class="gridster">
    <ul>
      <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="oauth2-prod" data-view="ServerStatusSquares" data-title="OAUTH2 Server - Prod"></div>
      </li>
      <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
        <div data-id="elite2-prod" data-view="ServerStatusSquares" data-title="Elite2 API - Prod"></div>
      </li>
      <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
        <div data-id="dps-core-prod" data-view="ServerStatusSquares" data-title="DPS Core - Prod"></div>
      </li>
      <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
        <div data-id="omic-ui-prod" data-view="ServerStatusSquares" data-title="Keyworker - Prod"></div>
      </li>
      <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
        <div data-id="keyworker-api-prod" data-view="ServerStatusSquares" data-title="Keyworker API - Prod"></div>
      </li>
      <li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
        <div data-id="whereabouts-prod" data-view="ServerStatusSquares" data-title="Whereabouts - Prod"></div>
      </li>
      <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
        <div data-id="whereabouts-api-prod" data-view="ServerStatusSquares" data-title="Whereabouts Api - Prod"></div>
      </li>
      <li data-row="1" data-col="8" data-sizex="1" data-sizey="1">
        <div data-id="newnomisapi-prod" data-view="ServerStatusSquares" data-title="Custody API - Prod"></div>
      </li>
      <li data-row="1" data-col="9" data-sizex="1" data-sizey="1">
        <div data-id="nomis-api-prod" data-view="ServerStatusSquares" data-title="Old Nomis API - Prod"></div>
      </li>
      <li data-row="1" data-col="10" data-sizex="1" data-sizey="1">
        <div data-id="cat-tool-prod" data-view="ServerStatusSquares" data-title="Dig Cat Tool - Prod"></div>
      </li>
      <li data-row="1" data-col="11" data-sizex="1" data-sizey="1">
        <div data-id="prison-estate-prod" data-view="ServerStatusSquares" data-title="Prison Estate - Prod"></div>
      </li>
      <li data-row="1" data-col="12" data-sizex="1" data-sizey="1">
        <div data-id="check-my-diary-prod" data-view="ServerStatusSquares" data-title="Check My Diary - Prod"></div>
      </li>

      <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="oauth2-preprod" data-view="ServerStatusSquares" data-title="OAUTH2 Server - PreProd"></div>
      </li>
      <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
        <div data-id="elite2-preprod" data-view="ServerStatusSquares" data-title="Elite2 API - PreProd"></div>
      </li>
      <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
        <div data-id="dps-core-preprod" data-view="ServerStatusSquares" data-title="DPS Core - PreProd"></div>
      </li>
      <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
        <div data-id="omic-ui-preprod" data-view="ServerStatusSquares" data-title="Keyworker - PreProd"></div>
      </li>
      <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
        <div data-id="keyworker-api-preprod" data-view="ServerStatusSquares" data-title="Keyworker API - PreProd"></div>
      </li>
      <li data-row="2" data-col="6" data-sizex="1" data-sizey="1">
        <div data-id="whereabouts-preprod" data-view="ServerStatusSquares" data-title="Whereabouts - PreProd"></div>
      </li>
      <li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
        <div data-id="whereabouts-api-preprod" data-view="ServerStatusSquares" data-title="Whereabouts Api - PreProd"></div>
      </li>
      <li data-row="2" data-col="8" data-sizex="1" data-sizey="1">
        <div data-id="newnomisapi-preprod" data-view="ServerStatusSquares" data-title="Custody API - PreProd"></div>
      </li>
      <li data-row="2" data-col="9" data-sizex="1" data-sizey="1">
        <div data-id="nomis-api-preprod" data-view="ServerStatusSquares" data-title="Old Nomis API - PreProd"></div>
      </li>
      <li data-row="2" data-col="10" data-sizex="1" data-sizey="1">
        <div data-id="cat-tool-preprod" data-view="ServerStatusSquares" data-title="Dig Cat Tool - PreProd"></div>
      </li>
      <li data-row="2" data-col="11" data-sizex="1" data-sizey="1">
        <div data-id="prison-estate-preprod" data-view="ServerStatusSquares" data-title="Prison Estate - PreProd"></div>
      </li>
      <li data-row="2" data-col="12" data-sizex="1" data-sizey="1">
        <div data-id="check-my-diary-preprod" data-view="ServerStatusSquares" data-title="Check My Diary - PreProd"></div>
      </li>

      <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="oauth2-dev" data-view="ServerStatusSquares" data-title="OAUTH2 Server - Dev"></div>
      </li>
      <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
        <div data-id="elite2-dev" data-view="ServerStatusSquares" data-title="Elite2 Api - Dev"></div>
      </li>
      <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
        <div data-id="dps-core-dev" data-view="ServerStatusSquares" data-title="DPS Core - Dev"></div>
      </li>
      <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
        <div data-id="omic-ui-dev" data-view="ServerStatusSquares" data-title="Keyworker - Dev"></div>
      </li>
      <li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
        <div data-id="keyworker-api-dev" data-view="ServerStatusSquares" data-title="Keyworker API - Dev"></div>
      </li>
      <li data-row="3" data-col="6" data-sizex="1" data-sizey="1">
        <div data-id="whereabouts-dev" data-view="ServerStatusSquares" data-title="Whereabouts - Dev"></div>
      </li>
      <li data-row="3" data-col="7" data-sizex="1" data-sizey="1">
        <div data-id="whereabouts-api-dev" data-view="ServerStatusSquares" data-title="Whereabouts Api - Dev"></div>
      </li>
      <li data-row="3" data-col="8" data-sizex="1" data-sizey="1">
        <div data-id="newnomisapi-dev" data-view="ServerStatusSquares" data-title="Custody API - Dev"></div>
      </li>
      <li data-row="3" data-col="9" data-sizex="1" data-sizey="1">
        <div data-id="nomis-api-dev" data-view="ServerStatusSquares" data-title="Old Nomis API - Dev"></div>
      </li>
      <li data-row="3" data-col="10" data-sizex="1" data-sizey="1">
        <div data-id="cat-tool-dev" data-view="ServerStatusSquares" data-title="Dig Cat Tool - Dev"></div>
      </li>
      <li data-row="3" data-col="11" data-sizex="1" data-sizey="1">
        <div data-id="prison-estate-dev" data-view="ServerStatusSquares" data-title="Prison Estate - Dev"></div>
      </li>
      <li data-row="3" data-col="12" data-sizex="1" data-sizey="1">
        <div data-id="check-my-diary-dev" data-view="ServerStatusSquares" data-title="Check My Diary - Dev"></div>
      </li>

      <li data-row="5" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="offender-events-prod" data-view="ServerStatusSquares" data-title="Offender Events - Prod"></div>
      </li>
      <li data-row="5" data-col="2" data-sizex="1" data-sizey="1">
        <div data-id="offender-case-notes-prod" data-view="ServerStatusSquares" data-title="Offender Case Notes - Prod"></div>
      </li>
      <li data-row="5" data-col="3" data-sizex="1" data-sizey="1">
        <div data-id="licences-prod" data-view="ServerStatusSquares" data-title="Licences - Prod"></div>
      </li>
      <li data-row="5" data-col="4" data-sizex="1" data-sizey="1">
        <div data-id="pathfinder-prod" data-view="ServerStatusSquares" data-title="Pathfinder - Prod"></div>
      </li>
      <li data-row="5" data-col="5" data-sizex="1" data-sizey="1">
        <div data-id="use-of-force-prod" data-view="ServerStatusSquares" data-title="Use of Force - Prod"></div>
      </li>
      <li data-row="5" data-col="6" data-sizex="1" data-sizey="1">
        <div data-id="community-api-prod" data-view="ServerStatusSquares" data-title="Community API - Prod"></div>
      </li>
      <li data-row="5" data-col="8" data-sizex="1" data-sizey="1">
        <div data-id="case-notes-to-probation-prod" data-view="ServerStatusSquares" data-title="Case Notes to Probation - Prod"></div>
      </li>
      <li data-row="5" data-col="9" data-sizex="1" data-sizey="1">
        <div data-id="probation-teams-prod" data-view="ServerStatusSquares" data-title="Probation Teams - Prod"></div>
      </li>
      <li data-row="5" data-col="10" data-sizex="1" data-sizey="1">
        <div data-id="prison-to-probation-update-prod" data-view="ServerStatusSquares" data-title="Prison to Probation Update - Prod"></div>
      </li>
      <li data-row="5" data-col="11" data-sizex="1" data-sizey="1">
        <div data-id="offender-search-prod" data-view="ServerStatusSquares" data-title="Offender Search - Prod"></div>
      </li>
      <li data-row="5" data-col="12" data-sizex="1" data-sizey="1">
        <div data-id="prison-to-nhs-update-prod" data-view="ServerStatusSquares" data-title="Prison to NHS - Prod"></div>
      </li>

      <li data-row="6" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="offender-events-preprod" data-view="ServerStatusSquares" data-title="Offender Events - PreProd"></div>
      </li>
      <li data-row="6" data-col="2" data-sizex="1" data-sizey="1">
        <div data-id="offender-case-notes-preprod" data-view="ServerStatusSquares" data-title="Offender Case Notes - PreProd"></div>
      </li>
      <li data-row="6" data-col="3" data-sizex="1" data-sizey="1">
        <div data-id="licences-preprod" data-view="ServerStatusSquares" data-title="Licences - PreProd"></div>
      </li>
      <li data-row="6" data-col="4" data-sizex="1" data-sizey="1">
        <div data-id="pathfinder-preprod" data-view="ServerStatusSquares" data-title="Pathfinder - PreProd"></div>
      </li>
      <li data-row="6" data-col="5" data-sizex="1" data-sizey="1">
        <div data-id="use-of-force-preprod" data-view="ServerStatusSquares" data-title="Use of Force - PreProd"></div>
      </li>
      <li data-row="6" data-col="6" data-sizex="1" data-sizey="1">
        <div data-id="community-api-preprod" data-view="ServerStatusSquares" data-title="Community API - PreProd"></div>
      </li>
      <li data-row="6" data-col="7" data-sizex="1" data-sizey="1">
        <div data-id="dps-data-compliance-preprod" data-view="ServerStatusSquares" data-title="DPS Data Compliance"></div>
      </li>
      <li data-row="6" data-col="8" data-sizex="1" data-sizey="1">
        <div data-id="case-notes-to-probation-preprod" data-view="ServerStatusSquares" data-title="Case Notes to Probation - PreProd"></div>
      </li>
      <li data-row="6" data-col="9" data-sizex="1" data-sizey="1">
        <div data-id="probation-teams-preprod" data-view="ServerStatusSquares" data-title="Probation Teams - PreProd"></div>
      </li>
      <li data-row="6" data-col="10" data-sizex="1" data-sizey="1">
        <div data-id="prison-to-probation-update-preprod" data-view="ServerStatusSquares" data-title="Prison to Probation Update - PreProd"></div>
      </li>
      <li data-row="6" data-col="11" data-sizex="1" data-sizey="1">
        <div data-id="offender-search-preprod" data-view="ServerStatusSquares" data-title="Offender Search - PreProd"></div>
      </li>
      <li data-row="6" data-col="12" data-sizex="1" data-sizey="1">
        <div data-id="prison-to-nhs-update-preprod" data-view="ServerStatusSquares" data-title="Prison to NHS - PreProd"></div>
      </li>

      <li data-row="7" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="offender-events-dev" data-view="ServerStatusSquares" data-title="Offender Events - Dev"></div>
      </li>
      <li data-row="7" data-col="2" data-sizex="1" data-sizey="1">
        <div data-id="offender-case-notes-dev" data-view="ServerStatusSquares" data-title="Offender Case Notes - Dev"></div>
      </li>
      <li data-row="7" data-col="3" data-sizex="1" data-sizey="1">
        <div data-id="licences-dev" data-view="ServerStatusSquares" data-title="Licences - Dev"></div>
      </li>
      <li data-row="7" data-col="4" data-sizex="1" data-sizey="1">
        <div data-id="pathfinder-dev" data-view="ServerStatusSquares" data-title="Pathfinder - Dev"></div>
      </li>
      <li data-row="7" data-col="5" data-sizex="1" data-sizey="1">
        <div data-id="use-of-force-dev" data-view="ServerStatusSquares" data-title="Use of Force - Dev"></div>
      </li>
      <li data-row="7" data-col="6" data-sizex="1" data-sizey="1">
        <div data-id="community-api-dev" data-view="ServerStatusSquares" data-title="Community API - Dev"></div>
      </li>
      <li data-row="7" data-col="7" data-sizex="1" data-sizey="1">
        <div data-id="dps-data-compliance-dev" data-view="ServerStatusSquares" data-title="DPS Data Compliance"></div>
      </li>
      <li data-row="7" data-col="8" data-sizex="1" data-sizey="1">
        <div data-id="case-notes-to-probation-dev" data-view="ServerStatusSquares" data-title="Case Notes to Probation - Dev"></div>
      </li>
      <li data-row="7" data-col="9" data-sizex="1" data-sizey="1">
        <div data-id="probation-teams-dev" data-view="ServerStatusSquares" data-title="Probation Teams - Dev"></div>
      </li>
      <li data-row="7" data-col="10" data-sizex="1" data-sizey="1">
        <div data-id="prison-to-probation-update-dev" data-view="ServerStatusSquares" data-title="Prison to Probation Update - Dev"></div>
      </li>
      <li data-row="7" data-col="11" data-sizex="1" data-sizey="1">
        <div data-id="offender-search-dev" data-view="ServerStatusSquares" data-title="Offender Search - Dev"></div>
      </li>
      <li data-row="7" data-col="12" data-sizex="1" data-sizey="1">
        <div data-id="prison-to-nhs-update-dev" data-view="ServerStatusSquares" data-title="Prison to NHS - Dev"></div>
      </li>

      <li data-row="9" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="token-verification-api-prod" data-view="ServerStatusSquares" data-title="Token Verification Api - Prod"></div>
      </li>
      <li data-row="9" data-col="2" data-sizex="1" data-sizey="1">
        <div data-id="prisoner-offender-search-prod" data-view="ServerStatusSquares" data-title="Prisoner Search - Prod"></div>
      </li>
      <li data-row="9" data-col="3" data-sizex="1" data-sizey="1">
        <div data-id="pathfinder-api-prod" data-view="ServerStatusSquares" data-title="Pathfinder API - Prod"></div>
      </li>

      <li data-row="10" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="token-verification-api-preprod" data-view="ServerStatusSquares" data-title="Token Verification Api - PreProd"></div>
      </li>
      <li data-row="10" data-col="2" data-sizex="1" data-sizey="1">
        <div data-id="prisoner-offender-search-preprod" data-view="ServerStatusSquares" data-title="Prisoner Search - PreProd"></div>
      </li>
      <li data-row="10" data-col="3" data-sizex="1" data-sizey="1">
        <div data-id="pathfinder-api-preprod" data-view="ServerStatusSquares" data-title="Pathfinder API - PreProd"></div>
      </li>

      <li data-row="11" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="token-verification-api-dev" data-view="ServerStatusSquares" data-title="Token Verification Api - Dev"></div>
      </li>
      <li data-row="11" data-col="2" data-sizex="1" data-sizey="1">
        <div data-id="prisoner-offender-search-dev" data-view="ServerStatusSquares" data-title="Prisoner Search - Dev"></div>
      </li>
      <li data-row="11" data-col="3" data-sizex="1" data-sizey="1">
        <div data-id="pathfinder-api-dev" data-view="ServerStatusSquares" data-title="Pathfinder API - Dev"></div>
      </li>

    </ul>
</div>
