<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [300, 300]
  Dashing.numColumns = 20
});
</script>

<% content_for :title do %>Health<% end %>
<div class="gridster">
    <ul>
      <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="oauth2-prod" data-view="ServerStatusSquares" data-title="OAUTH2 Server - Prod"></div>
      </li>
      <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
        <div data-id="elite2-prod" data-view="ServerStatusSquares" data-title="Elite2 API - Prod"></div>
      </li>
      <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
        <div data-id="dps-core-prod" data-view="ServerStatusSquares" data-title="DPS Core - Prod"></div>
      </li>
      <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
        <div data-id="omic-ui-prod" data-view="ServerStatusSquares" data-title="Key-worker - Prod"></div>
      </li>
      <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
        <div data-id="keyworker-api-prod" data-view="ServerStatusSquares" data-title="Keyworker API - Prod"></div>
      </li>
      <li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
        <div data-id="whereabouts-prod" data-view="ServerStatusSquares" data-title="Whereabouts - Prod"></div>
      </li>
      <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
        <div data-id="newnomisapi-prod" data-view="ServerStatusSquares" data-title="Custody API - Prod"></div>
      </li>
      <li data-row="1" data-col="8" data-sizex="1" data-sizey="1">
        <div data-id="nomis-api-prod" data-view="ServerStatusSquares" data-title="Old Nomis API - Prod"></div>
      </li>
      <li data-row="1" data-col="9" data-sizex="1" data-sizey="1">
        <div data-id="cat-tool-prod" data-view="ServerStatusSquares" data-title="Dig Cat Tool - Prod"></div>
      </li>
      <li data-row="1" data-col="10" data-sizex="1" data-sizey="1">
        <div data-id="whereabouts-api-prod" data-view="ServerStatusSquares" data-title="Whereabouts Api - Prod"></div>
      </li>
      <li data-row="1" data-col="11" data-sizex="1" data-sizey="1">
        <div data-id="dps-welcome-prod" data-view="ServerStatusSquares" data-title="DPS Welcome - Prod"></div>
      </li>
      <li data-row="1" data-col="12" data-sizex="1" data-sizey="1">
        <div data-id="offender-case-notes-prod" data-view="ServerStatusSquares" data-title="Offender Case Notes - Prod"></div>
      </li>
      <li data-row="1" data-col="13" data-sizex="1" data-sizey="1">
        <div data-id="licences-prod" data-view="ServerStatusSquares" data-title="Licences - Prod"></div>
      </li>
      <li data-row="1" data-col="14" data-sizex="1" data-sizey="1">
        <div data-id="batchload-prod" data-view="ServerStatusSquares" data-title="Batchload - Prod"></div>
      </li>
      <li data-row="1" data-col="15" data-sizex="1" data-sizey="1">
        <div data-id="community-proxy-prod" data-view="ServerStatusSquares" data-title="Community Proxy - Prod"></div>
      </li>
      <li data-row="1" data-col="16" data-sizex="1" data-sizey="1">
        <div data-id="pathfinder-prod" data-view="ServerStatusSquares" data-title="Pathfinder - Prod"></div>
      </li>
      <li data-row="1" data-col="17" data-sizex="1" data-sizey="1">
        <div data-id="use-of-force-prod" data-view="ServerStatusSquares" data-title="Use of Force - Prod"></div>
      </li>

      <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="oauth2-preprod" data-view="ServerStatusSquares" data-title="OAUTH2 Server - PreProd"></div>
      </li>
      <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
        <div data-id="elite2-preprod" data-view="ServerStatusSquares" data-title="Elite2 API - PreProd"></div>
      </li>
      <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
        <div data-id="dps-core-preprod" data-view="ServerStatusSquares" data-title="DPS Core - PreProd"></div>
      </li>
      <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
        <div data-id="omic-ui-preprod" data-view="ServerStatusSquares" data-title="Key-worker - PreProd"></div>
      </li>
      <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
        <div data-id="keyworker-api-preprod" data-view="ServerStatusSquares" data-title="Keyworker API - PreProd"></div>
      </li>
      <li data-row="2" data-col="6" data-sizex="1" data-sizey="1">
        <div data-id="whereabouts-preprod" data-view="ServerStatusSquares" data-title="Whereabouts - PreProd"></div>
      </li>
      <li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
        <div data-id="newnomisapi-preprod" data-view="ServerStatusSquares" data-title="Custody API - PreProd"></div>
      </li>
      <li data-row="2" data-col="8" data-sizex="1" data-sizey="1">
        <div data-id="nomis-api-preprod" data-view="ServerStatusSquares" data-title="Old Nomis API - PreProd"></div>
      </li>
      <li data-row="2" data-col="9" data-sizex="1" data-sizey="1">
        <div data-id="cat-tool-preprod" data-view="ServerStatusSquares" data-title="Dig Cat Tool - PreProd"></div>
      </li>
      <li data-row="2" data-col="10" data-sizex="1" data-sizey="1">
        <div data-id="whereabouts-api-preprod" data-view="ServerStatusSquares" data-title="Whereabouts Api - PreProd"></div>
      </li>
      <li data-row="2" data-col="12" data-sizex="1" data-sizey="1">
        <div data-id="offender-case-notes-preprod" data-view="ServerStatusSquares" data-title="Offender Case Notes - PreProd"></div>
      </li>
      <li data-row="2" data-col="13" data-sizex="1" data-sizey="1">
        <div data-id="licences-preprod" data-view="ServerStatusSquares" data-title="Licences - PreProd"></div>
      </li>
      <li data-row="2" data-col="14" data-sizex="1" data-sizey="1">
        <div data-id="batchload-preprod" data-view="ServerStatusSquares" data-title="Batchload - PreProd"></div>
      </li>
      <li data-row="2" data-col="15" data-sizex="1" data-sizey="1">
        <div data-id="community-proxy-preprod" data-view="ServerStatusSquares" data-title="Community Proxy - Stage"></div>
      </li>
      <li data-row="2" data-col="16" data-sizex="1" data-sizey="1">
        <div data-id="pathfinder-preprod" data-view="ServerStatusSquares" data-title="Pathfinder - PreProd"></div>
      </li>
      <li data-row="2" data-col="17" data-sizex="1" data-sizey="1">
        <div data-id="use-of-force-preprod" data-view="ServerStatusSquares" data-title="Use of Force - PreProd"></div>
      </li>


      <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="oauth2-dev" data-view="ServerStatusSquares" data-title="OAUTH2 Server - Dev"></div>
      </li>
      <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
        <div data-id="elite2-dev" data-view="ServerStatusSquares" data-title="Elite2 Api - Dev"></div>
      </li>
      <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
        <div data-id="dps-core-dev" data-view="ServerStatusSquares" data-title="DPS Core - Dev"></div>
      </li>
      <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
        <div data-id="omic-ui-dev" data-view="ServerStatusSquares" data-title="Key-worker - Dev"></div>
      </li>
      <li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
        <div data-id="keyworker-api-dev" data-view="ServerStatusSquares" data-title="Keyworker API - Dev"></div>
      </li>
      <li data-row="3" data-col="6" data-sizex="1" data-sizey="1">
        <div data-id="whereabouts-dev" data-view="ServerStatusSquares" data-title="Whereabouts - Dev"></div>
      </li>
      <li data-row="3" data-col="7" data-sizex="1" data-sizey="1">
        <div data-id="newnomisapi-dev" data-view="ServerStatusSquares" data-title="Custody API - Dev"></div>
      </li>
      <li data-row="3" data-col="8" data-sizex="1" data-sizey="1">
        <div data-id="nomis-api-dev" data-view="ServerStatusSquares" data-title="Old Nomis API - Dev"></div>
      </li>
      <li data-row="3" data-col="9" data-sizex="1" data-sizey="1">
        <div data-id="cat-tool-dev" data-view="ServerStatusSquares" data-title="Dig Cat Tool - Dev"></div>
      </li>
      <li data-row="3" data-col="10" data-sizex="1" data-sizey="1">
        <div data-id="whereabouts-api-dev" data-view="ServerStatusSquares" data-title="Whereabouts Api - Dev"></div>
      </li>
      <li data-row="3" data-col="11" data-sizex="1" data-sizey="1">
        <div data-id="dps-welcome-dev" data-view="ServerStatusSquares" data-title="DPS Welcome - Dev"></div>
      </li>
      <li data-row="3" data-col="12" data-sizex="1" data-sizey="1">
        <div data-id="offender-case-notes-dev" data-view="ServerStatusSquares" data-title="Offender Case Notes - Dev"></div>
      </li>
      <li data-row="3" data-col="13" data-sizex="1" data-sizey="1">
        <div data-id="licences-dev" data-view="ServerStatusSquares" data-title="Licences - Stage"></div>
      </li>
      <li data-row="3" data-col="14" data-sizex="1" data-sizey="1">
        <div data-id="batchload-dev" data-view="ServerStatusSquares" data-title="Batchload - Stage"></div>
      </li>
      <li data-row="3" data-col="15" data-sizex="1" data-sizey="1">
        <div data-id="community-proxy-dev" data-view="ServerStatusSquares" data-title="Community Proxy - Dev"></div>
      </li>
      <li data-row="3" data-col="16" data-sizex="1" data-sizey="1">
        <div data-id="pathfinder-dev" data-view="ServerStatusSquares" data-title="Pathfinder - Dev"></div>
      </li>
      <li data-row="3" data-col="17" data-sizex="1" data-sizey="1">
        <div data-id="use-of-force-dev" data-view="ServerStatusSquares" data-title="Use of Force - Dev"></div>
      </li>
      <li data-row="3" data-col="18" data-sizex="1" data-sizey="1">
        <div data-id="offender-assessments-api-dev" data-view="ServerStatusSquares" data-title="Assessments API - Dev"></div>
      </li>
      <li data-row="3" data-col="19" data-sizex="1" data-sizey="1">
        <div data-id="sentence-planning-dev" data-view="ServerStatusSquares" data-title="Sentence Planning - Dev"></div>
      </li>
      <li data-row="3" data-col="20" data-sizex="1" data-sizey="1">
        <div data-id="offender-events-dev" data-view="ServerStatusSquares" data-title="Offender Events - Dev"></div>
      </li>
    </ul>
</div>
