<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [300, 300]
  Dashing.numColumns = 10
});
</script>

<% content_for :title do %>Health<% end %>
<div class="gridster">
    <ul>
      <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="oauth2-prod" data-view="ServerStatusSquares" data-title="OAUTH2 Server - Prod"></div>
      </li>
      <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
        <div data-id="elite2-prod" data-view="ServerStatusSquares" data-title="Elite2 API - Prod"></div>
      </li>
      <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
        <div data-id="notm-prod" data-view="ServerStatusSquares" data-title="New Nomis - Prod"></div>
      </li>
      <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
        <div data-id="omic-ui-prod" data-view="ServerStatusSquares" data-title="Omic - Prod"></div>
      </li>
      <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
        <div data-id="keyworker-api-prod" data-view="ServerStatusSquares" data-title="Keyworker API - Prod"></div>
      </li>
      <li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
        <div data-id="psh-prod" data-view="ServerStatusSquares" data-title="Prison Staff Hub - Prod"></div>
      </li>
      <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
        <div data-id="newnomisapi-prod" data-view="ServerStatusSquares" data-title="Custody API - Prod"></div>
      </li>
      <li data-row="1" data-col="8" data-sizex="1" data-sizey="1">
        <div data-id="nomis-api-prod" data-view="ServerStatusSquares" data-title="Old Nomis API - Prod"></div>
      </li>

      <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="oauth2-preprod" data-view="ServerStatusSquares" data-title="OAUTH2 Server - PreProd"></div>
      </li>
      <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
        <div data-id="elite2-preprod" data-view="ServerStatusSquares" data-title="Elite2 API - PreProd"></div>
      </li>
      <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
        <div data-id="notm-preprod" data-view="ServerStatusSquares" data-title="New Nomis - PreProd"></div>
      </li>
      <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
        <div data-id="omic-ui-preprod" data-view="ServerStatusSquares" data-title="Omic - PreProd"></div>
      </li>
      <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
        <div data-id="keyworker-api-preprod" data-view="ServerStatusSquares" data-title="Keyworker API - PreProd"></div>
      </li>
      <li data-row="2" data-col="6" data-sizex="1" data-sizey="1">
        <div data-id="psh-preprod" data-view="ServerStatusSquares" data-title="Prison Staff Hub - PreProd"></div>
      </li>
      <li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
        <div data-id="newnomisapi-preprod" data-view="ServerStatusSquares" data-title="Custody API - PreProd"></div>
      </li>
      <li data-row="2" data-col="8" data-sizex="1" data-sizey="1">
        <div data-id="nomis-api-preprod" data-view="ServerStatusSquares" data-title="Old Nomis API - PreProd"></div>
      </li>
      <li data-row="2" data-col="9" data-sizex="1" data-sizey="1">
        <div data-id="cat-tool-preprod" data-view="ServerStatusSquares" data-title="Categorisation Tool - PreProd"></div>
      </li>

      <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="oauth2-stage" data-view="ServerStatusSquares" data-title="OAUTH2 Server - Stage"></div>
      </li>
      <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
        <div data-id="elite2-stage" data-view="ServerStatusSquares" data-title="Elite2 API - Stage"></div>
      </li>
      <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
        <div data-id="notm-stage" data-view="ServerStatusSquares" data-title="New Nomis - Stage"></div>
      </li>
      <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
        <div data-id="omic-ui-stage" data-view="ServerStatusSquares" data-title="Omic - Stage"></div>
      </li>
      <li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
        <div data-id="keyworker-api-stage" data-view="ServerStatusSquares" data-title="Keyworker API - Stage"></div>
      </li>
      <li data-row="3" data-col="6" data-sizex="1" data-sizey="1">
        <div data-id="psh-stage" data-view="ServerStatusSquares" data-title="Prison Staff Hub - Stage"></div>
      </li>
      <li data-row="3" data-col="7" data-sizex="1" data-sizey="1">
        <div data-id="newnomisapi-stage" data-view="ServerStatusSquares" data-title="Custody API - Stage"></div>
      </li>
      <li data-row="3" data-col="8" data-sizex="1" data-sizey="1">
        <div data-id="nomis-api-stage" data-view="ServerStatusSquares" data-title="Old Nomis API - Stage"></div>
      </li>

      <li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="oauth2-dev" data-view="ServerStatusSquares" data-title="OAUTH2 Server - Dev"></div>
      </li>
      <li data-row="4" data-col="2" data-sizex="1" data-sizey="1">
        <div data-id="elite2-dev" data-view="ServerStatusSquares" data-title="Elite2 API - Dev"></div>
      </li>
      <li data-row="4" data-col="3" data-sizex="1" data-sizey="1">
        <div data-id="notm-dev" data-view="ServerStatusSquares" data-title="New Nomis - Dev"></div>
      </li>
      <li data-row="4" data-col="4" data-sizex="1" data-sizey="1">
        <div data-id="omic-ui-dev" data-view="ServerStatusSquares" data-title="Omic - Dev"></div>
      </li>
      <li data-row="4" data-col="5" data-sizex="1" data-sizey="1">
        <div data-id="keyworker-api-dev" data-view="ServerStatusSquares" data-title="Keyworker API - Dev"></div>
      </li>
      <li data-row="4" data-col="6" data-sizex="1" data-sizey="1">
        <div data-id="psh-dev" data-view="ServerStatusSquares" data-title="Prison Staff Hub - Dev"></div>
      </li>
      <li data-row="4" data-col="7" data-sizex="1" data-sizey="1">
        <div data-id="newnomisapi-dev" data-view="ServerStatusSquares" data-title="Custody API - Dev"></div>
      </li>
      <li data-row="4" data-col="8" data-sizex="1" data-sizey="1">
        <div data-id="nomis-api-dev" data-view="ServerStatusSquares" data-title="Old Nomis API - Dev"></div>
      </li>
      <li data-row="4" data-col="9" data-sizex="1" data-sizey="1">
        <div data-id="cat-tool-dev" data-view="ServerStatusSquares" data-title="Categorisation Tool - Dev"></div>
      </li>
    </ul>
</div>