<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [400, 400]
  Dashing.numColumns = 5
});
</script>

<% content_for :title do %>OMIC Health<% end %>
<div class="gridster">
    <ul>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
          <div data-id="omic-ui-dev" data-view="ServerStatusSquares" data-title="Health Keyworker - Dev"></div>
        </li>
        <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
          <div data-id="omic-ui-stage" data-view="ServerStatusSquares" data-title="Health Keyworker - Stage"></div>
        </li>
        <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
          <div data-id="omic-ui-preprod" data-view="ServerStatusSquares" data-title="Health Keyworker - Preprod"></div>
        </li>
        <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
          <div data-id="omic-ui-prod" data-view="ServerStatusSquares" data-title="Health Keyworker - Prod"></div>
        </li>
    </ul>
</div>