<script type='text/javascript'>
    $(function () {
        Dashing.widget_base_dimensions = [300, 300]
        Dashing.numColumns = 6
    });
</script>

<% content_for :title do %>HDC Overview
<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="oauth2-prod" data-view="ServerStatusSquares" data-title="OAUTH2 Server - Prod"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="elite2-prod" data-view="ServerStatusSquares" data-title="Elite2 API - Prod"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="whereabouts-prod" data-view="ServerStatusSquares" data-title="Whereabouts - Prod"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="licences-prod" data-view="ServerStatusSquares" data-title="Licences - Prod"></div>
    </li>
    <li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="community-api-prod" data-view="ServerStatusSquares" data-title="Community API - Prod"></div>
    </li>
    <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="probation-teams-prod" data-view="ServerStatusSquares" data-title="Probation Teams - Prod"></div>
    </li>


    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="oauth2-preprod" data-view="ServerStatusSquares" data-title="OAUTH2 Server - PreProd"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="elite2-preprod" data-view="ServerStatusSquares" data-title="Elite2 API - PreProd"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="whereabouts-preprod" data-view="ServerStatusSquares" data-title="Whereabouts - PreProd"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="licences-preprod" data-view="ServerStatusSquares" data-title="Licences - PreProd"></div>
    </li>
    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="community-api-preprod" data-view="ServerStatusSquares" data-title="Community API - PreProd"></div>
    </li>
    <li data-row="2" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="probation-teams-preprod" data-view="ServerStatusSquares" data-title="Probation Teams - PreProd"></div>
    </li>


    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="oauth2-dev" data-view="ServerStatusSquares" data-title="Auth Server - Dev"></div>
    </li>
    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="elite2-dev" data-view="ServerStatusSquares" data-title="Elite2 Api - Dev"></div>
    </li>
    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="whereabouts-dev" data-view="ServerStatusSquares" data-title="Whereabouts - Dev"></div>
    </li>
    <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="licences-dev" data-view="ServerStatusSquares" data-title="Licences - Dev"></div>
    </li>
    <li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="community-api-dev" data-view="ServerStatusSquares" data-title="Community API - Dev"></div>
    </li>
    <li data-row="3" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="probation-teams-dev" data-view="ServerStatusSquares" data-title="Probation Teams - Dev"></div>
    </li>

    <li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-nomis-oauth2-server-master" data-view="CircleCi" data-title="Auth Server"></div>
    </li>
    <li data-row="4" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-elite2-api-master" data-view="CircleCi" data-title="Elite2 API"></div>
    </li>
    <li data-row="4" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-prisonstaffhub-main" data-view="CircleCi" data-title="Whereabouts"></div>
    </li>
    <li data-row="4" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-licences-master" data-view="CircleCi" data-title="Licences"></div>
    </li>
    <li data-row="4" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-community-api-master" data-view="CircleCi" data-title="Community API"></div>
    </li>
    <li data-row="4" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-probation-teams-master" data-view="CircleCi" data-title="Probation Teams"></div>
    </li>
  </ul>
</div>
