<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [300, 150]
  Dashing.numColumns = 12
});
</script>

<% content_for :title do %>Health<% end %>
<div class="gridster">
    <ul>
      <li data-row="1" data-col="1" data-sizex="6" data-sizey="1">
        <div data-view="ServerStatusSquares" data-title="Manage a Secure Area (MASE) - Service Health"></div>
      </li>

      <!-- Manage SOC Cases -->
      <li data-row="3" data-col="1" data-sizex="1=" data-sizey="1">
        <div data-id="manage-soc-cases-prod" data-view="ServerStatusSquares" data-title="Manage SOC Cases - Prod"></div>
      </li>
      <li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="manage-soc-cases-preprod" data-view="ServerStatusSquares" data-title="Manage SOC Cases - PreProd"></div>
      </li>
      <li data-row="5" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="manage-soc-cases-dev" data-view="ServerStatusSquares" data-title="Manage SOC Cases - Dev"></div>
      </li>

      <!-- Offender Categorisation -->
      <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
        <div data-id="offender-categorisation-prod" data-view="ServerStatusSquares" data-title="Offender Categorisation - Prod"></div>
      </li>
      <li data-row="4" data-col="2" data-sizex="1" data-sizey="1">
        <div data-id="offender-categorisation-preprod" data-view="ServerStatusSquares" data-title="Offender Categorisation - PreProd"></div>
      </li>
      <li data-row="5" data-col="2" data-sizex="1" data-sizey="1">
          <div data-id="offender-categorisation-dev" data-view="ServerStatusSquares" data-title="Offender Categorisation - Dev"></div>
      </li>

      <!-- Pathfinder -->
      <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
        <div data-id="pathfinder-prod" data-view="ServerStatusSquares" data-title="Pathfinder - Prod"></div>
      </li>
      <li data-row="4" data-col="3" data-sizex="1" data-sizey="1">
        <div data-id="pathfinder-preprod" data-view="ServerStatusSquares" data-title="Pathfinder - PreProd"></div>
      </li>
      <li data-row="5" data-col="3" data-sizex="1" data-sizey="1">
        <div data-id="pathfinder-dev" data-view="ServerStatusSquares" data-title="Pathfinder - Dev"></div>
      </li>

      <!-- Pathfinder API -->
      <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
        <div data-id="pathfinder-api-prod" data-view="ServerStatusSquares" data-title="Pathfinder API - Prod"></div>
      </li>
      <li data-row="4" data-col="4" data-sizex="1" data-sizey="1">
        <div data-id="pathfinder-api-preprod" data-view="ServerStatusSquares" data-title="Pathfinder API - PreProd"></div>
      </li>
      <li data-row="5" data-col="4" data-sizex="1" data-sizey="1">
        <div data-id="pathfinder-api-dev" data-view="ServerStatusSquares" data-title="Pathfinder API - Dev"></div>
      </li>

      <!-- PCMS -->
      <li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
        <div data-id="pcms-prod" data-view="ServerStatusSquares" data-title="PCMS - Prod"></div>
      </li>
      <li data-row="4" data-col="5" data-sizex="1" data-sizey="1">
        <div data-id="pcms-preprod" data-view="ServerStatusSquares" data-title="PCMS - QA"></div>
      </li>
      <li data-row="5" data-col="5" data-sizex="1" data-sizey="1">
        <div data-id="pcms-dev" data-view="ServerStatusSquares" data-title="PCMS - Dev"></div>
      </li>

      <!-- PCMS API-->
      <li data-row="3" data-col="6" data-sizex="1" data-sizey="1">
        <div data-id="pcms-api-prod" data-view="ServerStatusSquares" data-title="PCMS API - Prod"></div>
      </li>
      <li data-row="4" data-col="6" data-sizex="1" data-sizey="1">
        <div data-id="pcms-api-preprod" data-view="ServerStatusSquares" data-title="PCMS API - QA"></div>
      </li>
      <li data-row="5" data-col="6" data-sizex="1" data-sizey="1">
        <div data-id="pcms-api-dev" data-view="ServerStatusSquares" data-title="PCMS API - Dev"></div>
      </li>

      <!-- Next Row... -->

      <!-- HMPPS Book Secure Move -->
      <li data-row="7" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="hmpps-book-secure-move-frontend-prod" data-view="ServerStatusSquares" data-title="HMPPS Book A Secure Move - Prod"></div>
      </li>
      <li data-row="8" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="hmpps-book-secure-move-frontend-preprod" data-view="ServerStatusSquares" data-title="HMPPS Book A Secure Move - PreProd"></div>
      </li>
      <li data-row="9" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="hmpps-book-secure-move-frontend-staging" data-view="ServerStatusSquares" data-title="HMPPS Book A Secure Move - Staging"></div>
      </li>

      <!-- HMPPS Book Secure Move API -->
      <li data-row="7" data-col="2" data-sizex="1" data-sizey="1">
        <div data-id="hmpps-book-secure-move-api-prod" data-view="ServerStatusSquares" data-title="HMPPS Book A Secure Move API - Prod"></div>
      </li>
      <li data-row="8" data-col="2" data-sizex="1" data-sizey="1">
        <div data-id="hmpps-book-secure-move-api-preprod" data-view="ServerStatusSquares" data-title="HMPPS Book A Secure Move API - PreProd"></div>
      </li>
      <li data-row="9" data-col="2" data-sizex="1" data-sizey="1">
        <div data-id="hmpps-book-secure-move-api-staging" data-view="ServerStatusSquares" data-title="HMPPS Book A Secure Move API - Staging"></div>
      </li>

      <!-- Calculate Journey Variable Prices -->
      <li data-row="7" data-col="3" data-sizex="1" data-sizey="1">
        <div data-id="calculate-journey-variable-payments-prod" data-view="ServerStatusSquares" data-title="Calculate Journey Variable Payments - Prod"></div>
      </li>
      <li data-row="8" data-col="3" data-sizex="1" data-sizey="1">
        <div data-id="calculate-journey-variable-payments-preprod" data-view="ServerStatusSquares" data-title="Calculate Journey Variable Payments - PreProd"></div>
      </li>
      <li data-row="9" data-col="3" data-sizex="1" data-sizey="1">
        <div data-id="calculate-journey-variable-payments-dev" data-view="ServerStatusSquares" data-title="Calculate Journey Variable Payments - Dev"></div>
      </li>

      <!-- Manage Intelligence -->
      <li data-row="9" data-col="4" data-sizex="1" data-sizey="1">
        <div data-id="manage-intelligence-dev" data-view="ServerStatusSquares" data-title="Manage Intelligence - Dev"></div>
      </li>

      <!-- Manage Intelligence API -->
      <li data-row="9" data-col="5" data-sizex="1" data-sizey="1">
        <div data-id="manage-intelligence-api-dev" data-view="ServerStatusSquares" data-title="Manage Intelligence API - Dev"></div>
      </li>

      <!-- HMPPS Submit Information Report -->
      <li data-row="9" data-col="6" data-sizex="1" data-sizey="1">
        <div data-id="hmpps-submit-information-report-dev" data-view="ServerStatusSquares" data-title="HMPPS Submit Information Report - Dev"></div>
      </li>

    </ul>
</div>
