<script type='text/javascript'>
    $(function() {
        Dashing.widget_base_dimensions = [320, 400]
        Dashing.numColumns = 9
    });
</script>

<% content_for(:title) {"Overview"} %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="6" data-sizey="1">
        <div data-view="ServerStatusSquares" data-title="Manage a Secure Area (MASE) - Build Status"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-manage-soc-cases-main" data-view="CircleCi" data-title="Manage SOC Cases"></div>
    </li>

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-offender-categorisation-main" data-view="CircleCi" data-title="Offender Categorisation"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-pathfinder-main" data-view="CircleCi" data-title="Pathfinder"></div>
    </li>

    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-pathfinder-api-main" data-view="CircleCi" data-title="Pathfinder API"></div>
    </li>

    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-hmpps-prisoner-communication-monitoring-main" data-view="CircleCi" data-title="PCMS"></div>
    </li>

    <li data-row="2" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-hmpps-prisoner-communication-monitoring-api-main" data-view="CircleCi" data-title="PCMS API"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-hmpps-book-secure-move-frontend-main" data-view="CircleCi" data-title="Book A Secure Move"></div>
    </li>

    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-hmpps-book-secure-move-api-main" data-view="CircleCi" data-title="Book A Secure Move API"></div>
    </li>

    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-calculate-journey-variable-payments-main" data-view="CircleCi" data-title="Calculate Journey Variable Payments"></div>
    </li>

    <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-manage-intelligence-main" data-view="CircleCi" data-title="Manage Intelligence"></div>
    </li>

    <li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-manage-intelligence-api-main" data-view="CircleCi" data-title="Manage Intelligence API"></div>
    </li>

    <li data-row="3" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-hmpps-submit-information-report-main" data-view="CircleCi" data-title="HMPPS Submit Information Report"></div>
    </li>

    <li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-offender-risk-profiler-main" data-view="CircleCi" data-title="Offender Risk Profiler"></div>
    </li>
  </ul>
</div>
