<script type='text/javascript'>
    $(function() {
        Dashing.widget_base_dimensions = [320, 400]
        Dashing.numColumns = 9
    });
</script>

<% content_for(:title) {"Overview"} %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="oauth2-prod" data-view="ServerStatusSquares" data-title="Auth Server"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="prison-api-prod" data-view="ServerStatusSquares" data-title="Prison Api"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="probation-offender-search-indexer-prod" data-view="ServerStatusSquares" data-title="Probation Search Indexer"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="keyworker-api-prod" data-view="ServerStatusSquares" data-title="Keyworker Api"></div>
    </li>
    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="whereabouts-api-prod" data-view="ServerStatusSquares" data-title="Whereabouts Api"></div>
    </li>
    <li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="offender-case-notes-prod" data-view="ServerStatusSquares" data-title="Offender Case Notes"></div>
    </li>
    <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="use-of-force-prod" data-view="ServerStatusSquares" data-title="Use of Force"></div>
    </li>
    <li data-row="1" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="community-api-prod" data-view="ServerStatusSquares" data-title="Community API"></div>
    </li>
    <li data-row="1" data-col="9" data-sizex="1" data-sizey="1">
      <div data-id="prison-to-probation-update-prod" data-view="ServerStatusSquares" data-title="Prison to Probation Update"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="pathfinder-prod" data-view="ServerStatusSquares" data-title="Pathfinder"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="check-my-diary-prod" data-view="ServerStatusSquares" data-title="Check My Diary"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="omic-ui-prod" data-view="ServerStatusSquares" data-title="Keyworker UI"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="dps-core-prod" data-view="ServerStatusSquares" data-title="DPS Core"></div>
    </li>
    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="offender-categorisation-prod" data-view="ServerStatusSquares" data-title="Offender Categorisation"></div>
    </li>
    <li data-row="2" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="licences-prod" data-view="ServerStatusSquares" data-title="Licences"></div>
    </li>
    <li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="case-notes-to-probation-prod" data-view="ServerStatusSquares" data-title="Case Notes to Probation"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="prison-offender-events-prod" data-view="ServerStatusSquares" data-title="Prison Offender Events"></div>
    </li>
    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="prisoner-offender-search-prod" data-view="ServerStatusSquares" data-title="Prisoner Search"></div>
    </li>
    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="probation-teams-prod" data-view="ServerStatusSquares" data-title="Probation Teams"></div>
    </li>
    <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="probation-offender-search-prod" data-view="ServerStatusSquares" data-title="Probation Offender Search"></div>
    </li>
    <li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="token-verification-api-prod" data-view="ServerStatusSquares" data-title="Token Verification Api"></div>
    </li>
    <li data-row="3" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="pathfinder-api-prod" data-view="ServerStatusSquares" data-title="Pathfinder API"></div>
    </li>
    <li data-row="3" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="dps-data-compliance-prod" data-view="ServerStatusSquares" data-title="Prison Data Compliance"></div>
    </li>
    <li data-row="3" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="manage-hmpps-auth-accounts-prod" data-view="ServerStatusSquares" data-title="HMPPS User Manager"></div>
    </li>

    <li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="probation-offender-events-prod" data-view="ServerStatusSquares" data-title="Probation Offender Events"></div>
    </li>

    <li data-row="5" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-hmpps-auth-main" data-view="CircleCi" data-title="Auth Server"></div>
    </li>
    <li data-row="5" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-prison-api-main" data-view="CircleCi" data-title="Prison Api"></div>
    </li>
    <li data-row="5" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-probation-offender-search-indexer-main" data-view="CircleCi" data-title="Probation Search Indexer"></div>
    </li>
    <li data-row="5" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-keyworker-service-main" data-view="CircleCi" data-title="Keyworker Api"></div>
    </li>
    <li data-row="5" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-whereabouts-api-main" data-view="CircleCi" data-title="Whereabouts Api"></div>
    </li>
    <li data-row="5" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-offender-case-notes-main" data-view="CircleCi" data-title="Offender Case Notes"></div>
    </li>
    <li data-row="5" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-use-of-force-main" data-view="CircleCi" data-title="Use of Force"></div>
    </li>
    <li data-row="5" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-community-api-master" data-view="CircleCi" data-title="Community API"></div>
    </li>
    <li data-row="5" data-col="9" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-prison-to-probation-update-main" data-view="CircleCi" data-title="Prison to Probation Update"></div>
    </li>

    <li data-row="6" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-pathfinder-main" data-view="CircleCi" data-title="Pathfinder"></div>
    </li>
    <li data-row="6" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-check-my-diary-master" data-view="CircleCi" data-title="Check My Diary"></div>
    </li>
    <li data-row="6" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-keyworker-ui-main" data-view="CircleCi" data-title="Keyworker UI"></div>
    </li>
    <li data-row="6" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-prisonstaffhub-main" data-view="CircleCi" data-title="DPS Core"></div>
    </li>
    <li data-row="6" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-offender-categorisation-main" data-view="CircleCi" data-title="Offender Categorisation"></div>
    </li>
    <li data-row="6" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-licences-main" data-view="CircleCi" data-title="Licences"></div>
    </li>
    <li data-row="6" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-case-notes-to-probation-main" data-view="CircleCi" data-title="Case Notes to Probation"></div>
    </li>

    <li data-row="7" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-prison-offender-events-main" data-view="CircleCi" data-title="Prison Offender Events"></div>
    </li>
    <li data-row="7" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-prisoner-offender-search-main" data-view="CircleCi" data-title="Prisoner Search"></div>
    </li>
    <li data-row="7" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-probation-teams-main" data-view="CircleCi" data-title="Probation Teams"></div>
    </li>
    <li data-row="7" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-probation-offender-search-main" data-view="CircleCi" data-title="Probation Offender Search"></div>
    </li>
    <li data-row="7" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-token-verification-api-main" data-view="CircleCi" data-title="Token Verification Api"></div>
    </li>
    <li data-row="7" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-pathfinder-api-main" data-view="CircleCi" data-title="Pathfinder API"></div>
    </li>
    <li data-row="7" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-dps-data-compliance-main" data-view="CircleCi" data-title="Prison Data Compliance"></div>
    </li>
    <li data-row="7" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-manage-hmpps-auth-accounts-main" data-view="CircleCi" data-title="HMPPS User Manager"></div>
    </li>

    <li data-row="8" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-probation-offender-events-main" data-view="CircleCi" data-title="Probation Offender Events"></div>
    </li>
    <li data-row="8" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-offender-risk-profiler-main" data-view="CircleCi" data-title="Offender Risk Profiler Api"></div>
    </li>
    <li data-row="8" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-manage-soc-cases-main" data-view="CircleCi" data-title="Manage SOC Cases"></div>
    </li>
    <li data-row="8" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-hmpps-pin-phone-monitor-main" data-view="CircleCi" data-title="HMPPS Pin Phone Monitor"></div>
    </li>
    <li data-row="8" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-hmpps-pin-phone-monitor-api-main" data-view="CircleCi" data-title="HMPPS Pin Phone Monitor API"></div>
    </li>
    <li data-row="8" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-hmpps-template-kotlin-main" data-view="CircleCi" data-title="Template kotlin project"></div>
    </li>
    <li data-row="8" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-prison-services-feedback-and-support-main" data-view="CircleCi" data-title="Prison Services Feedback and Support"></div>
    </li>
    <li data-row="8" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-hmpps-book-video-link-main" data-view="CircleCi" data-title="Book a video link"></div>
    </li>
  </ul>
</div>
