<script type='text/javascript'>
    $(function() {
        Dashing.widget_base_dimensions = [300, 350]
        Dashing.numColumns = 9
    });
</script>

<% content_for(:title) {"Overview"} %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-nomis-oauth2-server-master" data-view="CircleCi" data-title="Auth Server"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-cool_syscon_team-mobile-nomis-api" data-view="CircleCi" data-title="Elite2 API"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-new-nomis-ui-master" data-view="CircleCi" data-title="New Nomis"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-keyworker-ui-master" data-view="CircleCi" data-title="Omic UI"></div>
    </li>
    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-keyworker-service-master" data-view="CircleCi" data-title="Keyworker Api"></div>
    </li>
    <li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-prisonstaffhub-master" data-view="CircleCi" data-title="Prison Staff Hub"></div>
    </li>
    <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-noms-digital-studio-new-nomis-api-master" data-view="CircleCi" data-title="Custody Api"></div>
    </li>
    <li data-row="1" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-categorisation-tool-master" data-view="CircleCi" data-title="Categorisation Tool"></div>
    </li>
    <li data-row="1" data-col="9" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-offender-risk-profiler-master" data-view="CircleCi" data-title="Risk Profiler"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="oauth2-prod" data-view="ServerStatusSquares" data-title="Auth Server - Prod"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="elite2-prod" data-view="ServerStatusSquares" data-title="Elite2 API - Prod"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="notm-prod" data-view="ServerStatusSquares" data-title="New Nomis - Prod"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="omic-ui-prod" data-view="ServerStatusSquares" data-title="Omic - Prod"></div>
    </li>
    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="keyworker-api-prod" data-view="ServerStatusSquares" data-title="Keyworker API - Prod"></div>
    </li>
    <li data-row="2" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="psh-prod" data-view="ServerStatusSquares" data-title="Prison Staff Hub - Prod"></div>
    </li>
    <li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="newnomisapi-prod" data-view="ServerStatusSquares" data-title="Custody Api - Prod"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="oauth2-dev" data-view="ServerStatusSquares" data-title="Auth Server - Dev"></div>
    </li>
    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="elite2-dev" data-view="ServerStatusSquares" data-title="Elite2 API - Dev"></div>
    </li>
    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="notm-dev" data-view="ServerStatusSquares" data-title="New Nomis - Dev"></div>
    </li>
    <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="omic-ui-dev" data-view="ServerStatusSquares" data-title="Omic - Dev"></div>
    </li>
    <li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="keyworker-api-dev" data-view="ServerStatusSquares" data-title="Keyworker API - Dev"></div>
    </li>
    <li data-row="3" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="psh-dev" data-view="ServerStatusSquares" data-title="Prison Staff Hub - Dev"></div>
    </li>
    <li data-row="3" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="newnomisapi-dev" data-view="ServerStatusSquares" data-title="Custody Api - Dev"></div>
    </li>
    <li data-row="3" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="cat-tool-dev" data-view="ServerStatusSquares" data-title="Categorisation Tool - Dev"></div>
    </li>
    <li data-row="3" data-col="9" data-sizex="1" data-sizey="1">
      <div data-id="off-risk-profiler-dev" data-view="ServerStatusSquares" data-title="Risk Profiler - Dev"></div>
    </li>

  </ul>
</div>
