<script type='text/javascript'>
    $(function() {
        Dashing.widget_base_dimensions = [300, 350]
        Dashing.numColumns = 8
    });
</script>

<% content_for(:title) {"Overview"} %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="oauth2-prod" data-view="ServerStatusSquares" data-title="Auth Server"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="elite2-prod" data-view="ServerStatusSquares" data-title="Elite2 Api"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="newnomisapi-prod" data-view="ServerStatusSquares" data-title="Custody Api"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="keyworker-api-prod" data-view="ServerStatusSquares" data-title="Keyworker Api"></div>
    </li>
    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="whereabouts-api-prod" data-view="ServerStatusSquares" data-title="Whereabouts Api"></div>
    </li>
    <li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="licences-prod" data-view="ServerStatusSquares" data-title="Licences"></div>
    </li>
    <li data-row="1" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="use-of-force-prod" data-view="ServerStatusSquares" data-title="Use of Force"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="dps-core-prod" data-view="ServerStatusSquares" data-title="DPS Core"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="omic-ui-prod" data-view="ServerStatusSquares" data-title="Keyworker UI"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="whereabouts-prod" data-view="ServerStatusSquares" data-title="Whereabouts UI"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="cat-tool-prod" data-view="ServerStatusSquares" data-title="Dig Cat Tool"></div>
    </li>
    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="dps-welcome-prod" data-view="ServerStatusSquares" data-title="DPS Welcome"></div>
    </li>
    <li data-row="2" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="batchload-prod" data-view="ServerStatusSquares" data-title="Batchload"></div>
    </li>
    <li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="community-proxy-prod" data-view="ServerStatusSquares" data-title="Community Proxy"></div>
    </li>


    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-new-nomis-ui-master" data-view="CircleCi" data-title="DPS Core"></div>
    </li>
    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-keyworker-ui-master" data-view="CircleCi" data-title="Keyworker UI"></div>
    </li>
    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-prisonstaffhub-master" data-view="CircleCi" data-title="Whereabouts UI"></div>
    </li>
    <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-categorisation-tool-master" data-view="CircleCi" data-title="Dig Cat Tool"></div>
    </li>
    <li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-community-proxy-master" data-view="CircleCi" data-title="Community Proxy"></div>
    </li>
    <li data-row="3" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-licences-master" data-view="CircleCi" data-title="Licences"></div>
    </li>
    <li data-row="3" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-offender-case-notes-master" data-view="CircleCi" data-title="Offender Case Notes"></div>
    </li>
    <li data-row="3" data-col="8" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-offender-events-master" data-view="CircleCi" data-title="Offender Events"></div>
    </li>


    <li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-nomis-oauth2-server-master" data-view="CircleCi" data-title="Auth Server"></div>
    </li>
    <li data-row="4" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-elite2-api-master" data-view="CircleCi" data-title="Elite2 Api"></div>
    </li>
    <li data-row="4" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-custody-api-master" data-view="CircleCi" data-title="Custody Api"></div>
    </li>
    <li data-row="4" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-keyworker-service-master" data-view="CircleCi" data-title="Keyworker Api"></div>
    </li>
    <li data-row="4" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-whereabouts-api-master" data-view="CircleCi" data-title="Whereabouts Api"></div>
    </li>
    <li data-row="4" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-nomis-batchload-master" data-view="CircleCi" data-title="Batchload"></div>
    </li>
    <li data-row="4" data-col="7" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-offender-risk-profiler-master" data-view="CircleCi" data-title="Offender Risk Profiler Api"></div>
    </li>

  </ul>
</div>
