<script type='text/javascript'>
    $(function() {
        Dashing.widget_base_dimensions = [350, 400]
        Dashing.numColumns = 5
    });
</script>

<% content_for(:title) {"Overview"} %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-cool_syscon_team-mobile-nomis-api" data-view="CircleCi" data-title="Elite2 API"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-new-nomis-ui-master" data-view="CircleCi" data-title="New Nomis"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-keyworker-ui-master" data-view="CircleCi" data-title="Omic UI"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-keyworker-service-master" data-view="CircleCi" data-title="Keyworker Api"></div>
    </li>
    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-ministryofjustice-prisonstaffhub-master" data-view="CircleCi" data-title="Prison Staff Hub"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="notm-prod" data-view="ServerStatusSquares" data-title="Health New Nomis - Prod"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="omic-ui-prod" data-view="ServerStatusSquares" data-title="Health Omic - Prod"></div>
    </li>

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="notm-dev" data-view="ServerStatusSquares" data-title="Health New Nomis - Dev"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="omic-ui-dev" data-view="ServerStatusSquares" data-title="Health Omic - Dev"></div>
    </li>
    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="psh-dev" data-view="ServerStatusSquares" data-title="Health Prison Staff Hub - Dev"></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="notm-stage" data-view="ServerStatusSquares" data-title="Health New Nomis - Stage"></div>
    </li>
    <li data-row="3" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="omic-ui-stage" data-view="ServerStatusSquares" data-title="Health Omic - Stage"></div>
    </li>
    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="psh-stage" data-view="ServerStatusSquares" data-title="Health Prison Staff Hub - Stage"></div>
    </li>
    <li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="notm-preprod" data-view="ServerStatusSquares" data-title="Health New Nomis - Preprod"></div>
    </li>
    <li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="omic-ui-preprod" data-view="ServerStatusSquares" data-title="Health Omic - Preprod"></div>
    </li>



  </ul>
</div>
