<% content_for(:title) { "Overview" } %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ai-today-LOG_IN" data-view="Number" data-title="Logins - today"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="ai-today-CASENOTES" data-view="Number" data-title="Case Notes - today"></div>
    </li>

  </ul>
</div>
